@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  background-color: #141d26;
  color: #fff;
}

.crypto-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.crypto-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crypto-text {
  margin-bottom: 23px;
  text-align: center;
}

.crypto-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg, #7fbcc0 0%, #409dad 30%, #125d80 100%);
  color: #e2e2e2;
}

.crypto-input::placeholder {
  color: #e2e2e2;
}